body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin-top: 3%;
    flex-wrap: wrap; /*Provo ad avvolgere l'elemento titolo*/
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.monitoring-system {
    width: 90%;
    margin-top: 5%;
}

.container {
    width: 100%;
}


.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.5vw;
  font-weight: 600;
  line-height: normal;
  margin: 5% 0 0 90%;
  min-width: 0;
  outline: none;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}