body {
  margin: 0;
  line-height: normal;
}
.raddoppia-la-tua {
  margin: 0;
}
.voglia-di-estate {
  margin: 0;
  color: #000;
}

.raddoppia-la-tua-container {
  align-self: stretch;
  height: 160px;
  position: relative;
  display: flex;
  align-items: center;
}
.desire-doubler {
  width: 685px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 106px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 316px;
  left: 0;
  width: 719px;
  height: 353px;
  object-fit: cover;
  -webkit-animation: rotate-in-top 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  animation: rotate-in-top 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
.frame-child{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  -webkit-animation: scale-in-ver-top 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite  both;
  animation: scale-in-ver-top 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite  both;
}
.frame-item {
  position: absolute;
  top: 5%;
  left: 65%;
  width: 20%;
  height: auto;
}
.rectangle-parent {
  height: 669px;
  flex: 1;
  position: relative;
  max-width: 100%;
  margin-left: -386px;
}
.desire-doubler-parent,
.ottico-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.desire-doubler-parent {
  flex: 1;
}
.ottico-inner {
  align-self: stretch;
  padding: 0 0 0 11px;
  box-sizing: border-box;
  text-align: left;
  font-size: 80px;
  color: #0085ff;
  font-family: "Luckiest Guy";
}
.acquista-un-occhiale-da-sole {
  margin: 0;
  font-size: 60px;
  color: #0085ff;
}
.per-te-un,
.valore-per-un {
  margin: 0;
}
.acquista-un-occhiale-container {
  height: 193px;
  position: relative;
  display: flex;
  align-items: center;
}
.sunglass-ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 788px;
  min-height: 250px;
  max-width: 100%;
}
.lombardo,
.ottica {
  margin: 0;
}
.lombardo-ottica {
  position: absolute;
  bottom: 0;
  right: -45%;
  margin: 10px;
}
.ottica {
  font-size: 60px;
  line-height: 50px;
  font-family: "Signika Negative SC";
}
.lombardo-ottica-txt-container {
  line-break: anywhere;
  width: 100%;
}
.lombardo-ottica {
  height: 121px;
  width: 441px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  min-width: 441px;
  max-width: 100%;
  font-size: 70px;
  font-family: "Zen Dots";
}
.sunglass-ad-parent {
  width: 1363px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 50px;
  color: #000;
  font-family: Charter;
}
.container_ottico {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #b3f6ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 61px 50px;
  box-sizing: border-box;
  gap: 44px;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .sunglass-ad {
    flex: 1;
    min-height: auto;
  }
  .lombardo-ottica {
    flex: 1;
  }
  .sunglass-ad-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .sunglass-ad {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .acquista-un-occhiale-container,
  .raddoppia-la-tua-container {
    font-size: 40px;
  }
  .lombardo-ottica {
    font-size: 48px;
    min-width: 100%;
  }
  .container_ottico {
    gap: 22px 44px;
    padding-left: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .raddoppia-la-tua-container {
    font-size: 24px;
  }
  .acquista-un-occhiale-container {
    font-size: 30px;
  }
  .lombardo-ottica {
    font-size: 36px;
  }
}



@-webkit-keyframes rotate-in-top {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes rotate-in-top {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

