body {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
.container {
    margin: 0%;
    padding: 0%;
}
.background {
    position: fixed;
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.logo {
    background-color: #0085FF;
    position: fixed;
    height: 160px;
    width: 275px;
    align-content: end;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: Times;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
}

.title-block {
    display: grid;
    position: fixed;
    width: 60%;
    padding: 0%;
    bottom: 5%;
    margin-left: 4%;
}

.title{
    font-family: "Faster One";
    font-size: 90px;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
    animation: Animazione2 4s ease-out 0s infinite normal none;
}

.subtitle {
    padding: 0%;
    margin: 0%;
    font-family: Times;
    font-size: 50px;
    animation:focus-in-expand 4s cubic-bezier(.25,.46,.45,.94) infinite both
}

.car {
    position: fixed;
    object-fit: fill;
    height: 60%;
    width: 60%;
    right: 0px;
    bottom: 10%;
    animation:slide-in-elliptic-left-fwd 4s cubic-bezier(.25,.46,.45,.94)  infinite both
}
@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
@keyframes slide-in-elliptic-left-fwd{0%{transform:translateX(-800px) rotateY(30deg) scale(0);transform-origin:-100% 50%;opacity:0}100%{transform:translateX(0) rotateY(0) scale(1);transform-origin:1800px 50%;opacity:1}}

@keyframes Animazione2 {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}