.pubblicita,
.pubblicita* {
    box-sizing: border-box;
}
.pubblicita {
    background: linear-gradient(
            114.27deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(202, 137, 11, 1) 100%
    );
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.rectangle_10 {
    width: auto;
    height: auto;
    position: absolute;
    right:0%;
    top: 0px;
    object-fit: cover;
    animation: myAnim2 2s ease 1s infinite normal forwards;
}
.group_5 {
    position: absolute;
    inset: 0;
}
.rectangle_12 {
    background: #ffffff;
    width: 350px;
    height: 400px;
    position: absolute;
    left: 226px;
    top: 0px;
}
.rectangle_13 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 301px;
    top: 22px;
    object-fit: cover;
}
.universita {
    color: #000000;
    text-align: center;
    font-family: "Lusitana-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 283px;
    top: 291px;
    width: 236.83px;
    height: 35.43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle_14 {
    background: #b84140;
    width: 350px;
    height: 54.86px;
    position: absolute;
    left: 226px;
    top: 345.14px;
}
.uni_panormus {
    color: #000000;
    text-align: center;
    position: absolute;
    left: 270px;
    top: 241px;
    width: 272px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uni_panormus_span {
    color: #b84140;
    font-family: "Lusitana-Bold", sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.uni_panormus_span2 {
    color: #b84140;
    font-family: "Lusitana-Regular", sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.futuro {
    color: #b84140;
    text-align: center;
    font-family: "Lusitana-Bold", sans-serif;
    font-size: 45px;
    font-weight: 700;
    position: absolute;
    left: 22px;
    top: 443px;
    width: 758px;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: myAnim3 2s ease 0s infinite normal forwards;
}
.Impegno {
    text-align: left;
    font-family: "-", sans-serif;
    font-size: 25px;
    font-weight: 350;
    position: absolute;
    left: 114px;
    top: 674px;
    width: 573px;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: myAnim4 2s ease 0s infinite normal forwards;
}
.Impegno_span {
    color: #000000;
    font-family: "Lusitana-Regular", sans-serif;
    font-size: 35px;
    font-weight: 400;
}
.Impegno_span2 {
    color: #b84140;
    font-family: "Lusitana-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.Impegno_span3 {
    color: #000000;
    font-family: "Lusitana-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
}
body{
    margin:0%;
    height:100%;
    padding:0;
}

@keyframes myAnim {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
@keyframes myAnim2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}
@keyframes myAnim3 {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }

}
@keyframes myAnim4 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }
}