.x-pubblicit-viaggi-ryanair-child,
.x-pubblicit-viaggi-ryanair-item {
  position: absolute;
  top: 54px;
  left: 20px;
  width: 700px;
  height: 500px;
  object-fit: cover;
}
.x-pubblicit-viaggi-ryanair-child{
  -webkit-animation: slide-out-elliptic-left-fwd 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  animation: slide-out-elliptic-left-fwd 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}
.x-pubblicit-viaggi-ryanair-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child {
  width: 500px;
  height: 600px;
  position: relative;
  border-radius: 30px 0 30px 30px;
  background-color: #237c26;
  display: none;
  max-width: 100%;
}
.a-basse-emissione,
.a-basso-costo,
.in-europa,
.voli-di-linea {
  margin: 0;
}
.voli-di-linea-container {
  align-self: stretch;
  height: 258px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.flyhigh,
.flyhigh-symbol-child {
  height: 100px;
  position: relative;
  z-index: 2;
}
.flyhigh-symbol-child {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 100px;
  -webkit-animation: roll-in-left 3s ease-out infinite both;
  animation: roll-in-left 3s ease-out infinite both;
}
.flyhigh {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 212px;
  max-width: 100%;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
}
.flyhigh-symbol,
.flyhigh-symbol-wrapper,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.flyhigh-symbol {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.flyhigh-symbol-wrapper,
.rectangle-parent {
  box-sizing: border-box;
}
.flyhigh-symbol-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 15px 0 29px;
  font-size: 90px;
  font-family: "Lily Script One";
}
.rectangle-parent {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 30px 0 30px 30px;
  background-color: #237c26;
  width: 500px;
  flex-direction: column;
  padding: 42px 0 86px 22px;
  gap: 114px;
  z-index: 1;
}
.x-pubblicit-viaggi-ryanair {
  width: 100%;
  height: 1024px;
  position: relative;
  background: linear-gradient(240.61deg, #ffa901 22.35%, #fff);
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: 55px;
  color: #fff;
  font-family: "Libre Bodoni";
}
@media screen and (max-width: 750px) {
  .voli-di-linea-container {
    font-size: 44px;
  }
  .flyhigh {
    font-size: 45px;
  }
}
@media screen and (max-width: 450px) {
  .voli-di-linea-container {
    font-size: 33px;
  }
  .flyhigh {
    font-size: 27px;
  }
  .x-pubblicit-viaggi-ryanair {
    height: auto;
    min-height: 100%;
  }
}
body {
  margin: 0;
  line-height: normal;
}




@keyframes slide-out-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -500px 50%;
    transform-origin: -500px 50%;
    opacity: 1;
  }
  85% {
    -webkit-transform: translateX(-1000px) rotateY(-20deg) scale(6);
    transform: translateX(-1000px) rotateY(-20deg) scale(6);
    -webkit-transform-origin: 200% 50%;
    transform-origin: 200% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -500px 50%;
    transform-origin: -500px 50%;
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
