body {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: fixed;
}

.page-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0088EA;
    text-align: center;
    color: white;
    font-family: 'Roboto', open-sans;
    font-size: 2vw;
    padding: 2%;
    align-items: center;
}

.page-title a {
    margin: 0% 1%;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', open-sans;
    font-weight: bolder;
    font-size: 1.5vw;
}

.page-title h1{
    margin: 0;
    font-weight: bold;
    margin: 0% auto;
}

.information-container {
    width: 100%;
    margin-top: 3%;
}

.table-container {
    border: 2px solid lightblue;
    margin: 0% 10%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 1%;

}

.table-container table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0px;
    max-height: 400px;
    overflow-y: auto;
    table-layout: fixed;
    text-align: center;
    padding: 0;
    border: 2px solid #0D96D1;
    border-radius: 5px;
}

td, th {
    padding: 1.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
}

.table-container thead {
    background-color: #0D96D1;
    width: 100%;
    color: white;
}


th {
    font-size: 1.5vw;
}


.status-active, .status-unactive {
    padding: 1%;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
    color: white;
    width: 50%;
    padding: 3%;
    min-width: 50%;
    margin-left:20%
}

.status-active {
    background-color: #5cb25d;
}

.status-unactive {
    background-color: #e53529;
}