<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Meteo e Ora</title>
	<link type="text/css" rel="stylesheet" th:href="@{/styles/styles.css}">
	<script type="text/javascript"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
	<script>
		class WeatherData {
			constructor(
					weatherCode,
					temperature,
					humidity,
					precipitationProbability,
					windSpeed) {
				let o = parseWeatherCode(weatherCode)
				this.description = o.desc
				this.imgPath = o.img_path

				this.temperature = temperature
				this.humidity = humidity
				this.precipitationProbability = precipitationProbability
				this.windSpeed = windSpeed
			}
		}

		function parseWeatherData(json, hour) {
			console.assert(0 <= hour <= 23)
			json = json['hourly']
			let weatherCode = json['weather_code'][hour]
			let temperature = json['temperature_2m'][hour]
			let humidity = json['relative_humidity_2m'][hour]
			let precipitationProbability = json['precipitation_probability'][hour]
			let windSpeed = json['wind_speed_10m'][hour]

			return new WeatherData(
					weatherCode,
					temperature,
					humidity,
					precipitationProbability,
					windSpeed,
			)
		}


		function parseWeatherCode(code) {
			switch (code) {
				case 0:
					return {desc: "Clear Sky", img_path: 'images/weather/ic_sunny.svg'};
				case 1:
					return {desc: "Mainly Clear", img_path: 'images/weather/ic_cloudy.svg'};
				case 2:
					return {desc: "Partly Cloudy", img_path: 'images/weather/ic_cloudy.svg'};
				case 3:
					return {desc: "Overcast", img_path: 'images/weather/ic_cloudy.svg'};
				case 45:
					return {desc: "Foggy", img_path: 'images/weather/ic_very_cloudy.svg'};
				case 48:
					return {desc: "Depositing Rime Fog", img_path: 'images/weather/ic_very_cloudy.svg'};
				case 51:
					return {desc: "Light Drizzle", img_path: 'images/weather/ic_rainshower.svg'};
				case 53:
					return {desc: "Moderate Drizzle", img_path: 'images/weather/ic_rainshower.svg'};
				case 55:
					return {desc: "Dense Drizzle", img_path: 'images/weather/ic_rainshower.svg'};
				case 56:
					return {desc: "Light Freezing Drizzle", img_path: 'images/weather/ic_snowyrainy.svg'};
				case 57:
					return {desc: "Dense Freezing Drizzle", img_path: 'images/weather/ic_snowyrainy.svg'};
				case 61:
					return {desc: "Slight Rain", img_path: 'images/weather/ic_rainy.svg'};
				case 63:
					return {desc: "Moderate Rain", img_path: 'images/weather/ic_rainy.svg'};
				case 65:
					return {desc: "Heavy Rain", img_path: 'images/weather/ic_rainy.svg'};
				case 66:
					return {desc: "Light Freezing Drizzle", img_path: 'images/weather/ic_snowyrainy.svg'};
				case 67:
					return {desc: "Heavy Freezing Rain", img_path: 'images/weather/ic_snowyrainy.svg'};
				case 71:
					return {desc: "Slight Snow Fall", img_path: 'images/weather/ic_snowy.svg'};
				case 73:
					return {desc: "Moderate Snow Fall", img_path: 'images/weather/ic_heavysnow.svg'};
				case 75:
					return {desc: "Heavy Snow Fall", img_path: 'images/weather/ic_heavysnow.svg'};
				case 77:
					return {desc: "Snow Grains", img_path: 'images/weather/ic_heavysnow.svg'};
				case 80:
					return {desc: "Slight Rain Showers", img_path: 'images/weather/ic_rainshower.svg'};
				case 81:
					return {desc: "Moderate Rain Showers", img_path: 'images/weather/ic_rainshower.svg'};
				case 82:
					return {desc: "Violent Rain Showers", img_path: 'images/weather/ic_rainshower.svg'};
				case 85:
					return {desc: "Slight Snow Showers", img_path: 'images/weather/ic_snowy.svg'};
				case 86:
					return {desc: "Heavy Snow Showers", img_path: 'images/weather/ic_snowy.svg'};
				case 95:
					return {desc: "Moderate Thunderstorm", img_path: 'images/weather/ic_thunder.svg'};
				case 96:
					return {desc: "Slight Hail Thunderstorm", img_path: 'images/weather/ic_rainythunder.svg'};
				case 99:
					return {desc: "Heavy Hail Thunderstorm", img_path: 'images/weather/ic_rainythunder.svg'};
			}
		}
	</script>
	<script>
		class Advertisement {
			constructor(
					id,
					title,
					duration,
					description,
					url
			) {
				this.id = id;
				this.title = title;
				this.duration = duration;
				this.description = description;
				this.url = url;
			}
		}

		function parseSchedule(xml) {
			let wall = xml.childNodes[1].getElementsByTagName('advertisement')
			let ads = []
			for (let i = 0; i < wall.length; i++) {
				let ad = wall[i]
				let id = ad.getAttribute('id')
				let title = ad.getElementsByTagName('title')[0].firstChild.nodeValue
				let duration = ad.getElementsByTagName('duration')[0].firstChild.nodeValue
				let description = ad.getElementsByTagName('description')[0].firstChild.nodeValue
				let url = ad.getElementsByTagName('url')[0].firstChild.nodeValue
				ads[i] = new Advertisement(
						id,
						title,
						duration,
						description,
						url
				)
			}
			console.log(ads);
			return ads
		}
	</script>
	<script th:inline="javascript" th:object="${facilityId}">
		function setup() {
			loadWeatherSetup();
			loadDateTimeSetup();
			loadAdvertisementSetup();
		}

		function loadWeatherSetup() {
			fetch("https://api.open-meteo.com/v1/forecast?" +
					"latitude=38.132&" +
					"longitude=13.3356&" +
					"hourly=temperature_2m,relative_humidity_2m,precipitation_probability,weather_code,wind_speed_10m&" +
					"forecast_days=1")
					.then(async r => {
						let json = JSON.parse(await r.text());
						console.debug("Result of api query:");
						console.debug(json);
						let date = new Date();
						let data = parseWeatherData(json, date.getHours());
						weatherSetup(data);
					})
					.catch(reason => console.error(reason))
					.finally(() => setTimeout(loadWeatherSetup, 1800000));
		}

		function weatherSetup(weatherData) {
			let leftIcon = document.getElementById('left-icon');
			let rightIcon = document.getElementById('right-icon');
			leftIcon.src = weatherData.imgPath;
			rightIcon.src = weatherData.imgPath;

			document.getElementById('temperature').textContent = `${weatherData.temperature} °C`;
			document.getElementById('humidity').textContent = `${weatherData.humidity} %`;
			document.getElementById('wind').textContent = `${weatherData.windSpeed} km/h`;
			document.getElementById('rain_prob').textContent = `${weatherData.precipitationProbability} %`;
		}

		function loadDateTimeSetup() {
			let date = new Date();
			let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

			document.getElementById("date").innerText = date.toLocaleDateString('it-IT', options);
			document.getElementById("time").innerText = date.toLocaleTimeString('it-IT');

			setTimeout("loadDateTimeSetup()", 1000);
		}

		let idx = -1;
		let schedule = null;
		let schedule_id = null
		let facilityId = /*[[${facilityId}]]*/ 'null';

		function loadAdvertisementSetup() {
			$.get(`http://localhost:8080/schedules/schedule?facilityId=${facilityId}`,
			{},
			function (data) {
				schedule_id = data["id"]
				readSchedule(data["filePath"])
			}
			)
		}

		function readSchedule(filePath) {
			let req = new XMLHttpRequest();
			req.open('GET', `http://127.0.0.1:8080/schedules/file?file_path=${filePath}`, true);
			req.onload = function () {
				let parser = new DOMParser()
				const xml = parser.parseFromString(this.response, "text/xml");
				schedule = parseSchedule(xml);
				advertisementSetup();
				sendSignal();
			};
			req.send();
		}

		function parseSchedule(xml) {
			let wall = xml.childNodes[1].getElementsByTagName('advertisement');
			let ads = [];
			for (let i = 0; i < wall.length; i++) {
				let ad = wall[i];
				let id = ad.getAttribute('id');
				let title = ad.getElementsByTagName('title')[0].firstChild.nodeValue;
				let duration = ad.getElementsByTagName('duration')[0].firstChild.nodeValue;
				let description = ad.getElementsByTagName('description')[0].firstChild.nodeValue;
				let url = ad.getElementsByTagName('url')[0].firstChild.nodeValue;
				ads[i] = new Advertisement(
						id,
						title,
						duration,
						description,
						url
				);
			}
			console.log(ads);
			return ads;
		}

		function advertisementSetup() {
			if (idx === 9)
				idx = 0;
			else
				idx++;
			const ad = schedule[idx];
			document.getElementById('content').src = ad.url;
			setTimeout("advertisementSetup()", ad.duration * 1000);
		}

		let lastAdv = "";
		let lastSession = "";

		function sendSignal() {
			console.log("Sending request...");
			let date = new Date();
			generateSessionId(schedule[idx].id);
			lastAdv = schedule[idx].id;
			$.post('http://127.0.0.1:8080/receiveData',
					{
						facility_id: facilityId,
						schedule_id: schedule_id,
						session_id: lastSession,
						adv_id: schedule[idx].id,
						duration: schedule[idx].duration,
						timestamp: date.toISOString()
					},
					function (data, status) {
						console.log(`Request ended with status ${status}`);
					}
			);
			setTimeout("sendSignal()", 5000);
		}

		function generateSessionId(advId) {
			if (advId === lastAdv)
				return;

			let chars = "ABCDEFGHIJKLMNOPQRSTUVZ";
			let sessionId = "";
			for (let i = 0; i < 4; i++) {
				let idx = Math.floor(Math.random() * (chars.length - 1));
				sessionId += chars[idx];
			}
			lastSession = sessionId;
		}
	</script>
</head>
<body onload="setup()">

<iframe id="content">
	<!-- Qui verrà inserito il contenuto dinamico -->
</iframe>

<div id="bottom-bar">
	<img th:src="@{/resources/static/images/weather/ic_sunny.svg}" alt="Icona meteo sinistra" id="left-icon">
	<span id="date"></span> |
	<span id="temperature"></span> |
	<span id="humidity"></span> |
	<span id="wind"></span> |
	<span id="rain_prob"></span>|
	<span id="time"></span>
	<img th:src="@{/resources/images/weather/ic_sunny.svg}" alt="Icona meteo destra" id="right-icon">
</div>

</body>
</html>
