<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>

</head>
<body>
<div class="report-container">
    <h1>Report dei Tempi di Schermo degli Annunci</h1>
    <div th:if="${advScreenTimes != null && !advScreenTimes.isEmpty()}">
        <h2>Risultati:</h2>
        <table>
            <thead>
            <tr>
                <th>Annuncio</th>
                <th>Durata Totale (in secondi)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${advScreenTimes}">
                <td th:text="${entry.key}">Placeholder</td>
                <td th:text="${entry.value}">Placeholder</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${advScreenTimes == null || advScreenTimes.isEmpty()}">
        <p>Nessun dato disponibile.</p>
    </div>
</div>
</body>
</html>