<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<div class="report-container">
    <h1>Report delle Impressioni</h1>
    <form th:action="@{/signals/report}" method="post">
        <label>
            Data Inizio:
            <input type="date" name="startDate" required>
        </label>
        <label>
            Data Fine:
            <input type="date" name="endDate" required>
        </label>
        <button type="submit">Genera Report</button>
    </form>
    <div th:if="${report}">
        <h2>Risultati:</h2>
        <table>
            <thead>
            <tr>
                <th>Impianto</th>
                <th>Annuncio</th>
                <th>Durata</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="impression : ${report}">
                <td th:text="${impression.facility}"></td>
                <td th:text="${impression.advId}"></td>
                <td th:text="${impression.duration}"></td>
                <td th:text="${impression.timestamp}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>