<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modifica Impianto</title>
  <link th:href="@{/templates_style/update_style.css}" rel="stylesheet" type="text/css">
  <style>

  </style>
</head>
<body>
<div class="header">
  <span>Modifica Impianto</span>
</div>
<div class="container">
  <form action="#" th:object="${formModel}" th:action="@{/facilities/update}" method="post">
    <p th:text="'Impianto ' + ${formModel.facility.id}"></p>
    <input type="hidden" th:field="*{facility}">
    <label>
      <select th:name="'Palinsesto ' + ${formModel.facility.schedule.id}"
              th:value="${formModel.facility.schedule.id}"
              th:field="*{scheduleId}">
        <option th:each="schedule : ${schedules}"
                th:value="${schedule.id}"
                th:text="'Palinsesto ' + ${schedule.id}"
                th:selected="${formModel.facility.schedule == schedule.id}"/>
      </select>
    </label>
    <label>
      <input type="checkbox"
             th:field="*{toggleStatus}"
             th:checked="${formModel.facility.status == 'ACTIVE'}"
             th:text="${formModel.facility.status == 'ACTIVE' ? 'Disattiva' : 'Attiva'}"/>
    </label>
    <button type="submit" th:text="'Conferma'"></button>
  </form>
</div>
</body>
</html>
